section {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background-color: #607d8b;
}

.body {
  margin: 0 auto;
  margin-top: 5rem;
}

.header {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.formgroup {
  background: transparent;
  border: none;
  height: 50px;
  color: rgba(255, 255, 255, 1) !important;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 22rem;
  padding: 10px 20px;
  margin: 1rem;
  margin-left: -1rem;
}
.formgroup::placeholder {
  color: whitesmoke;
}

.forgotpassword,
.forgotpassword a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgotpassword a {
  color: #167bff;
}

.rowStyle p {
  font-weight: 89px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
}

.container:hover input ~ .checkmark {
  background-color: lightskyblue;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.SignUp i {
  color: whitesmoke;
}

.btn {
  cursor: pointer;
  border-radius: 40%;
  box-shadow: none !important;
  font-size: 15px;
  text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btnprimary {
  background: #fbceb5;
  border: 1px solid #fbceb5;
  color: black;
  border-radius: 30%;

  border: none;
  height: 50px;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 22rem;
  padding: 10px 20px;
  margin: 1rem;
  margin-left: -1rem;
}

.btnprimary:hover {
  border: 1px solid #fbceb5;
  background: transparent;
  color: #fbceb5;
}

.social {
  width: 100%;
}
.social button {
  width: 50%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: black;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}
.social button:hover {
  background: black;
  color: white;
}

.text {
  font-size: 15px;
  text-align: center;
  margin-top: 2rem;
}
