.meals {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -15rem;
    position: relative;   
  
  
    /* //very imp property relative */
    color: black;
    padding: 16px;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }