.meals {
    /* maxwidth beech mai leaya card ko */
    max-width: 60rem; 
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    
  }
  .mealsLoading{
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .errorState{
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  