.maincontainer{
    padding: 2.5rem;
    /* background-color: #ECF5EB; */
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.tabsStyling{
    margin: 0 auto;
    width: auto;
}

.postedRide{
    
}